.wbdv-label{
    font-size : 25px;
    color : white;
}

.wbdv-add-course{
    color : red;
}

.wbdv-new-course{
    color : black;
    background-color: #ffffff
}

.wbdv-header{
    font-size : 25px;
    color : grey;
}

.wbdv-icon{
    color : royalblue;
}

.wbdv-title{
    color : black;
}

.wbdv-owner{
    color : black;
}

.wbdv-last-modified{
    color : black;
}

.wbdv-icon-black{
    color : black;
    font-size: 25px;
}

.fa-user-friends{
    font-size : 18px;
    color : grey;
}

.row-narrow{
    margin-left:150px;
    margin-right:150px
}

.selected {
    background-color: #ffe8c0;
    color: #000000;
}
